<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.2.1" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" />
  <package id="NBitcoin" version="7.0.30" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="protobuf-net" version="2.3.17" />
  <package id="System.Buffers" version="4.5.0" />
  <package id="System.Private.ServiceModel" version="4.5.3" />
  <package id="System.Reflection.DispatchProxy" version="4.5.0" />
  <package id="System.Reflection.Emit" version="4.3.0" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.3.0" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" />
  <package id="System.Security.Principal.Windows" version="4.5.0" />
  <package id="System.ServiceModel.Primitives" version="4.5.3" />
</packages>