<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Only append the part below if the file already exists -->
    <package id="BouncyCastle.Cryptography" version="2.2.1" />
    <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
    <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" />
    <package id="Microsoft.Extensions.ObjectPool" version="5.0.10" />
    <package id="Microsoft.NETCore.App" version="2.1.0" />
    <package id="NBitcoin.Secp256k1" version="1.0.1" />
    <package id="Newtonsoft.Json" version="12.0.3" />
    <package id="protobuf-net" version="2.3.17" />
    <package id="System.Formats.Asn1" version="6.0.0" />
    <package id="System.Private.ServiceModel" version="4.10.2" />
    <package id="System.Reactive" version="6.0.0" />
    <package id="System.Reflection.TypeExtensions" version="4.4.0" />
    <package id="System.Runtime.CompilerServices.Unsafe" version="6.0" />
    <package id="System.Security.AccessControl" version="6.0.0" />
    <package id="System.Security.Cryptography.Cng" version="5.0.0" />
    <package id="System.Security.Cryptography.Pkcs" version="6.0.1" />
    <package id="System.Security.Cryptography.Xml" version="6.0.1" />
    <package id="System.Security.Principal.Windows" version="5.0.0" />
    <package id="System.ServiceModel.Primitives" version="4.5.3" />
    <package id="System.ServiceModel.Syndication" version="4.5.0" />
    <package id="System.Text.Encoding.CodePages" version="4.5.1" />
    <package id="System.Text.Encodings.Web" version="6.0" />
    <package id="System.Text.Json" version="6.0" />
    <package id="TaskTupleAwaiter" version="1.2.0" />
    <!-- Only append the part above if the file already exists -->
</packages>